<?xml version="1.0"?>
<config>
	 <mysection>
        <mygroup>                
            <myfield>My Default Value</myfield>         
        </mygroup>      
    </mysection>
    <modules>
        <Custom_Price>
            <version>0.1.0</version>
        </Custom_Price>
    </modules>
    <frontend>
        <routers>
            <price>
                <use>standard</use>
                <args>
                    <module>Custom_Price</module>
                    <frontName>price</frontName>
                </args>
            </price>
        </routers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <unique_event_name>
                        <class>price/observer</class>
                        <method>modifyPrice</method>
                    </unique_event_name>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <layout>
            <updates>
                <price>
                    <file>price.xml</file>
                </price>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<price>
				<use>admin</use>
				<args>
					<module>Custom_Price</module>
					<frontName>price</frontName>
				</args>
			</price>
        </routers>
    </admin>
    <adminhtml>
	
	<acl>
            <resources>
                <admin>  <!--This is acl based on URL. If you see URL it would be /admin/system_config/ -->
                    <children>
                        <system>
                            <children>
                                         <config>
                                                  <children>
                                            <mysection translate="title" module="price">  <!-- This is name of the section created by us -->
                                                <title>my Section ACL</title>  <!-- Title as shown in User->Roles->Permissions Window -->
                                                <sort_order>99</sort_order>
                                            </mysection>
                                        </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
- See more at: http://www.excellencemagentoblog.com/magento-part8-series-systemxml#sthash.kWfAp3BK.dpuf
		<layout>
			<updates>
				<price>
					<file>price.xml</file>
				</price>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <price>
                <class>Custom_Price_Model</class>
                <resourceModel>price_mysql4</resourceModel>
            </price>
            <price_mysql4>
                <class>Custom_Price_Model_Mysql4</class>
                <entities>
                    <price>
                        <table>price</table>
                    </price>
                </entities>
            </price_mysql4>
        </models>
        <resources>
            <price_setup>
                <setup>
                    <module>Custom_Price</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </price_setup>
            <price_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </price_write>
            <price_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </price_read>
        </resources>
        <blocks>
            <price>
                <class>Custom_Price_Block</class>
            </price>
        </blocks>
        <helpers>
            <price>
                <class>Custom_Price_Helper</class>
            </price>
        </helpers>
    </global>
</config>