<?xml version="1.0" encoding="UTF-8"?>
<config>
   <sections>         
        <mysection translate="label" module="price">
            <label>Goldern Price</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store> 
            <groups>
                <mygroup translate="label" module="price">
                    <label>Golden Price Value</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>99</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <myfield translate="label comment">
                            <label>Enter Price</label>                         
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </myfield>                      
                    </fields>
                </mygroup>
            </groups>           
        </mysection>            
    </sections>
</config>